<h1>Manage Categories</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
    <% unless category.category == "" %>
      <tr>
        <td><%= category.category %></td>
    
        <td><%= link_to 'Edit', edit_category_url(category), class: "btn btn-primary" %></td>
        <td><%= link_to 'Delete', category_url(category), method: 'delete', data: { confirm: "Do you really want to delete this category?" }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  <% end %>

  </tbody>
</table>

<p><%= link_to '+ New Category', new_category_url %></p>
