<h1>Collaborator #<%= @collaborator.id %></h1>

<p>
  <b>Name:</b>
  <%= @collaborator.name %>
</p>

<p>
  <b>Nickname:</b>
  <%= @collaborator.nickname %>
</p>

<p>
  <b>User:</b>
  <%= User.find_by_id(@collaborator.user_id).name %>
</p>


