<% if session[:user_id].present? %>

	<h1><%= User.find_by_id(session[:user_id]).nickname %>'s Lists</h1>

	<table class="table table-bordered table-striped table-hover">
	  <tbody>
	  <% @lists.each do |list| %>
	    <tr>
	      <td><h4><%= link_to list.title, list_url(list) %></h4></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>

	<p><%= link_to '+ New List', new_list_url %></p>

<% else %>

	<h1>Welcome!</h1>
    <p class="lead">AwesomeToDo helps you organize your life.</p>
    <p class="lead">Sign Up or Login above to get started.</p>

<% end %>
